@model IEnumerable<SHOP_DCAN.LoaiSP>
@if (Model != null && Model.Any())
{

    <div class="shop-widget">
        <h3 class="shop-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family:'Segoe UI'">Thể loại</font></font></h3>
        <ul class="shop-link">
            @foreach (var item in Model)
            {
                if (ViewBag.CateId == item.MaLoai)
                {
        <li><a href="@Url.Action("Product_Loai", "Product", new { id = item.MaLoai })"><i class="far fa-square"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI'">@item.TenLoai</font></font></a></li> }
                            else
                            {
                                <li><a href="@Url.Action("Product_Loai", "Product", new { id = item.MaLoai })"><i class="far fa-square"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI'">@item.TenLoai</font></font></a></li>
}

                        }
        </ul>
    </div>
}
