@model IEnumerable<SHOP_DCAN.SanPham>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="product-item @item.LoaiSP.MaLoai">
            <div class="product discount product_filter" style="font-size:18px">
                <div class="product_image">
                    <img src="~/img/img_product/@item.HinhAnh" alt="">
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_info">
                    <h6 class="product_name" style="font-weight:bold; font-size:20px"><a href="#">@item.TenSP</a></h6>
                    <div class="product_price">@item.DonGia VND</div>
                    <div style="text-align: center; font-weight: bold; color: darkblue; font-size: 16px"></div>

                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.MaSP">add to cart</a></div>
        </div>
    }
}

