@model IEnumerable<SHOP_DCAN.LoaiSP>
@if (Model != null && Model.Any())
{
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="area-title mb-50">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm hoàn toàn mới</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duyệt qua nhiều loại sản phẩm của chúng tôi</font></font></p>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12">
        <div class="product-tab mb-40">
            <ul class="nav product-nav  justify-content-xl-end" id="myTab1" role="tablist">
               @* <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>*@
                @foreach (var item in Model)
                {@*<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.MaLoai">@item.TenLoai</li>*@
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" data-filter=".@item.MaLoai">@item.TenLoai</font></font></a>
                                    </li>                }
            </ul>
        </div>
    </div>
</div>
                <div class="row">
                    <div class="col">
                        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                            @*// @Html.Action("Partial_ItemByCateId", "Products")*@
                        </div>
                    </div>
                </div>}

