
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <div class="container">
        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:50px">Cảm ơn bạn đã mua hàng</h1>
        <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Quay trở lại <a href="@Url.Action("Index","Home")" style="color:maroon">Trang chủ.</a></h2>
    </div>
   
</main>



