
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>

    <!-- breadcrumb-area-start -->
    <section class="breadcrumb-area" data-background="img/bg/page-title.png" style="background-image: url(&quot;img/bg/page-title.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></h1>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang chủ</font></font></a></li>
                            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- coupon-area start -->
    <section class="coupon-area pt-100 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khách hàng quay lại? </font></font><span id="showlogin"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhấp vào đây để đăng nhập</font></font></span></h3>
                        <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <p class="coupon-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mọi người đang mang thai đều phải có bằng tốt nghiệp trung học. Tuy nhiên, ngày mai sẽ có rất nhiều tang thương.</font></font></p>
                                <form action="#">
                                    <p class="form-row-first">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên người dùng hoặc email </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row-last">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row">
                                        <button class="btn theme-btn" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font></button>
                                        <label>
                                            <input type="checkbox"><font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Nhớ tôi nhé
                                                </font>
                                            </font>
                                        </label>
                                    </p>
                                    <p class="lost-password">
                                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quên mật khẩu?</font></font></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Có phiếu giảm giá? </font></font><span id="showcoupon"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhấp vào đây để nhập mã của bạn</font></font></span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input type="text" placeholder="mã giảm giá">
                                        <button class="btn theme-btn" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Áp dụng phiếu giảm giá</font></font></button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <section class="checkout-area pb-70">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="checkbox-form">
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family:'Segoe UI'">Chi tiết thanh toán</font></font></h3>

                        @using (Html.BeginForm("MomoPayment", "ShoppingCart", FormMethod.Post, new { id = "checkoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.Action("Partial_CheckOut", "ShoppingCart")
                            <button type="button" class="btn btn-primary" id="orderButton" style="display:none;" onclick="submitForm('Checkout')">Đặt hàng</button> <!-- Nút Thanh toán Momo -->
                             <button type="button" class="btn btn-primary" id="momoButton" style="display:none;" onclick="submitForm('MomoPayment')">Thanh toán Momo</button>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="your-order mb-30 ">
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI'">Đơn hàng của bạn</font></font></h3>

                        @Html.Action("Partial_Item_ThanhToan", "ShoppingCart")
                       
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- checkout-area end -->
    @*<button id="payWithMoMo" class="btn btn-success">Thanh Toán Qua MoMo</button>*@

</main>
<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        // Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                });
                $("#tinh").change(function (e) {
                    var idtinh = $(this).val();
                    var tenTinh = $("#tinh option:selected").text(); // Lấy tên tỉnh được chọn
                    $("#hidden_tinh").val(tenTinh); // Đặt giá trị của trường ẩn để gửi tên tỉnh về server

                    // Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                        if (data_quan.error == 0) {
                            $("#quan").html('<option value="0">Quận Huyện</option>');
                            $("#phuong").html('<option value="0">Phường Xã</option>');
                            $.each(data_quan.data, function (key_quan, val_quan) {
                                $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                            });
                        }
                    });
                });
            }
        });

        // Lấy phường xã khi chọn quận huyện
        $("#quan").change(function (e) {
            var idquan = $(this).val();
            var tenQuan = $("#quan option:selected").text(); // Lấy tên quận huyện được chọn
            $("#hidden_quan").val(tenQuan); // Đặt giá trị của trường ẩn để gửi tên quận huyện về server

            $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                if (data_phuong.error == 0) {
                    $("#phuong").html('<option value="0">Phường Xã</option>');
                    $.each(data_phuong.data, function (key_phuong, val_phuong) {
                        $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                    });
                }
            });
        });

        // Lấy phường xã khi chọn phường xã
        $("#phuong").change(function (e) {
            var tenPhuong = $("#phuong option:selected").text(); // Lấy tên phường xã được chọn
            $("#hidden_phuong").val(tenPhuong); // Đặt giá trị của trường ẩn để gửi tên phường xã về server
        });
    });</script>


<script>
    function submitForm(action) {
        var form = document.getElementById('checkoutForm');
        form.action = '/' + 'ShoppingCart/' + action ;
        form.submit();
    }

    document.getElementById('paymentMethod').addEventListener('change', function () {
        var selectedValue = this.value;
        var orderButton = document.getElementById('orderButton');
        var momoButton = document.getElementById('momoButton');

        if (selectedValue == "COD") { // COD
            orderButton.style.display = 'inline-block';
            momoButton.style.display = 'none';
        } else if (selectedValue == "Chuyển khoản") { // Chuyển khoản
            orderButton.style.display = 'none';
            momoButton.style.display = 'inline-block';
        } else {
            orderButton.style.display = 'none';
            momoButton.style.display = 'none';
        }
    });

    // Trigger change event to set initial button visibility
    document.getElementById('paymentMethod').dispatchEvent(new Event('change'));
</script>