
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>

    <!-- breadcrumb-area-start -->
    <section class="breadcrumb-area" data-background="img/bg/page-title.png" style="background-image: url(&quot;img/bg/page-title.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></h1>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang chủ</font></font></a></li>
                            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- coupon-area start -->
    <section class="coupon-area pt-100 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khách hàng quay lại? </font></font><span id="showlogin"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhấp vào đây để đăng nhập</font></font></span></h3>
                        <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <p class="coupon-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mọi người đang mang thai đều phải có bằng tốt nghiệp trung học. Tuy nhiên, ngày mai sẽ có rất nhiều tang thương.</font></font></p>
                                <form action="#">
                                    <p class="form-row-first">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên người dùng hoặc email </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row-last">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row">
                                        <button class="btn theme-btn" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font></button>
                                        <label>
                                            <input type="checkbox"><font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Nhớ tôi nhé
                                                </font>
                                            </font>
                                        </label>
                                    </p>
                                    <p class="lost-password">
                                        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quên mật khẩu?</font></font></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Có phiếu giảm giá? </font></font><span id="showcoupon"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhấp vào đây để nhập mã của bạn</font></font></span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input type="text" placeholder="mã giảm giá">
                                        <button class="btn theme-btn" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Áp dụng phiếu giảm giá</font></font></button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coupon-area end -->
    <!-- checkout-area start -->
    <section class="checkout-area pb-70">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox-form">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết thanh toán</font></font></h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="country-select">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quốc gia </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <select>
                                            <option value="volvo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bangladesh</font></font></option>
                                            <option value="saab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algérie</font></font></option>
                                            <option value="mercedes"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Afghanistan</font></font></option>
                                            <option value="audi"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gana</font></font></option>
                                            <option value="audi2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Albania</font></font></option>
                                            <option value="audi3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ba-ren</font></font></option>
                                            <option value="audi4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Côlômbia</font></font></option>
                                            <option value="audi5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cộng hòa Dominica</font></font></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên đầu tiên </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Họ </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên công ty</font></font></label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="Địa chỉ đường phố">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <input type="text" placeholder="Căn hộ, phòng suite, đơn vị, v.v. (tùy chọn)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thị trấn / Thành phố </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="Thị trấn / Thành phố">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiểu bang / Quận </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mã bưu / Zip </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="Mã bưu / Zip">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ email </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="email" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="text" placeholder="Mã bưu / Zip">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list create-acc">
                                        <input id="cbox" type="checkbox">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo một tài khoản?</font></font></label>
                                    </div>
                                    <div id="cbox_info" class="checkout-form-list create-account">
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo một tài khoản bằng cách nhập thông tin bên dưới. Nếu bạn là khách hàng quay lại, vui lòng đăng nhập ở đầu trang.</font></font></p>
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu tài khoản </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                        <input type="password" placeholder="mật khẩu">
                                    </div>
                                </div>
                            </div>
                            <div class="different-address">
                                <div class="ship-different-title">
                                    <h3>
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gửi đến một địa chỉ khác?</font></font></label>
                                        <input id="ship-box" type="checkbox">
                                    </h3>
                                </div>
                                <div id="ship-box-info">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="country-select">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quốc gia </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <select>
                                                    <option value="volvo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bangladesh</font></font></option>
                                                    <option value="saab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Algérie</font></font></option>
                                                    <option value="mercedes"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Afghanistan</font></font></option>
                                                    <option value="audi"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gana</font></font></option>
                                                    <option value="audi2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Albania</font></font></option>
                                                    <option value="audi3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ba-ren</font></font></option>
                                                    <option value="audi4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Côlômbia</font></font></option>
                                                    <option value="audi5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cộng hòa Dominica</font></font></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên đầu tiên </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Họ </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên công ty</font></font></label>
                                                <input type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="Địa chỉ đường phố">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <input type="text" placeholder="Căn hộ, phòng suite, đơn vị, v.v. (tùy chọn)">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thị trấn / Thành phố </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="Thị trấn / Thành phố">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiểu bang / Quận </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mã bưu / Zip </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="Mã bưu / Zip">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ email </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="email" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại </font></font><span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                <input type="text" placeholder="Mã bưu / Zip">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-notes">
                                    <div class="checkout-form-list">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ghi chú đơn hàng</font></font></label>
                                        <textarea id="checkout-mess" cols="30" rows="10" placeholder="Ghi chú về đơn hàng của bạn, ví dụ ghi chú đặc biệt về việc giao hàng."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="your-order mb-30 ">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đơn hàng của bạn</font></font></h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm</font></font></th>
                                            <th class="product-total"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng cộng</font></font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        chiếm
                                                    </font>
                                                </font><strong class="product-quantity"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">× 1</font></font></strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">165,00 đô la</font></font></span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                <font style="vertical-align: inherit;">
                                                    <strong class="product-quantity"><font style="vertical-align: inherit;">1</font></strong><font style="vertical-align: inherit;">
                                                    </font>
                                                </font><strong class="product-quantity"><font style="vertical-align: inherit;"></font></strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50,00 đô la</font></font></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng cộng giỏ hàng</font></font></th>
                                            <td><span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">215,00 đô la</font></font></span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đang chuyển hàng</font></font></th>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <input type="radio">
                                                        <label>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">
                                                                    Giá cố định:
                                                                </font>
                                                            </font><span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$7.00</font></font></span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio">
                                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miễn phí vận chuyển:</font></font></label>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng đơn hàng</font></font></th>
                                            <td>
                                                <strong><span class="amount"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">215,00 đô la</font></font></span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="payment-method">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            Chuyển khoản trực tiếp
                                                        </font>
                                                    </font>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Thanh toán trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng Mã đơn hàng của bạn làm tham chiếu thanh toán. Đơn hàng của bạn sẽ không được giao cho đến khi tiền được chuyển vào tài khoản của chúng tôi.
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            Thanh toán séc
                                                        </font>
                                                    </font>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Vui lòng gửi séc đến Tên cửa hàng, Đường phố của cửa hàng, Thị trấn của cửa hàng, Tiểu bang/Quận của cửa hàng, Mã bưu chính của cửa hàng.
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            PayPal
                                                        </font>
                                                    </font>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Thanh toán qua PayPal; bạn có thể thanh toán bằng thẻ tín dụng nếu bạn không có tài khoản PayPal.
                                                    </font>
                                                </font>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-button-payment mt-20">
                                    <button type="submit" class="btn theme-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đặt hàng</font></font></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- checkout-area end -->


</main>
