
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <div class="container">
        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:50px">Xác nhận</h1>
        <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Một email với liên kết khôi phục mật khẩu đã được gửi đến bạn. Vui lòng kiểm tra hộp thư của bạn.</h4>
    </div>

</main>


