@model SHOP_DCAN.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <div class="container" style="width:500px">
        <h2 style="font-family:'Segoe UI'">Quên Mật Khẩu</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <button type="submit" class="btn btn-primary">Gửi liên kết khôi phục mật khẩu</button>
        }
    </div>
</main>


