
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <div class="container">
        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:50px">Xác nhận</h1>
        <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Mật khẩu của bạn đã được đặt lại thành công. Bạn có thể <a href="@Url.Action("Login","Account")" style="color:maroon">Đăng nhập</a> với mật khẩu mới của mình. </h4>
    </div>

</main>


