
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>

    <!-- breadcrumb-area-start -->
    <section class="breadcrumb-area" data-background="#" style="background-image: url(&quot;img/bg/page-title.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Về chúng tôi</font></font></h1>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang chủ</font></font></a></li>
                            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Về</font></font></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- page-title-area end -->
    <section class="about-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section-title mb-25">
                        <p><span></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cộng đồng</font></font></p>
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Nhận mọi bản cập nhật</font></font></h1>
                    </div>
                    <div class="about-community mb-30">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Là nhà bán lẻ nhạc cụ và âm nhạc được tín nhiệm nhất châu Á, chúng tôi là ngôi nhà chung của nhiều thương hiệu và vô số nhãn hiệu nổi tiếng. Cả online và offline, đội ngũ chuyên viên của chúng tôi giàu kỹ năng và kinh nghiệm để hỗ trợ người yêu nhạc theo cách ý nghĩa nhất.</font></font></p>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="about-community-text mb-30">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Tại đây chúng tôi hỗ trợ và nâng bước nhạc sĩ trên mọi khúc quanh của hành trình sáng tạo, và bằng cách đưa mọi người đến gần nhau hơn, chúng tôi nuôi dưỡng những cộng đồng thân thuộc, thúc đẩy mối quan hệ sâu sắc giữa con người với văn hoá và âm nhạc.
                                </font>
                            </font>
                        </p>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó. Đừng để nỗi đau biến mất.</font></font></p>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bản thân cơn đau có thể rất lớn và kéo theo đó là cân nặng tăng lên; Hãy để tôi đi đến chi tiết nhỏ nhất, người không thực hiện bất kỳ loại công việc nào.</font></font></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="overview text-center mt-90">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vue giúp các nghệ sĩ, nhạc sĩ, nhà làm phim, nhà thiết kế và những người sáng tạo khác biến ý tưởng tài nguyên thành hiện thực. Cho đến nay, hàng chục nghìn dự án sáng tạo lớn nhỏ đã trở thành hiện thực với sự hỗ trợ của cộng đồng vue special.</font></font></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="video-area">
        <div class="bakix-video">
            <img src="~/assets/img/new_1.jpg" alt="">
            <a class="popup-video" href="https://www.youtube.com/watch?v=aDVEQoM5lug"><i class="fas fa-play"></i></a>
        </div>
    </section>
    <section class="mission-area pt-100 pb-70 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 d-lg-none d-xl-block">
                    <div class="mission-img mb-30">
                        <img src="~/assets/img/new_2/jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="mission-text mb-30">
                        <div class="mission-title mb-30">
                            <p><span></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Nhiệm vụ của chúng ta</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Sứ mệnh của chúng tôi là giúp hiện thực hóa các dự án sáng tạo.</font></font></h1>
                        </div>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó. Nghi ngờ hoặc đau đớn khi bị khiển trách về niềm vui mà mình mong muốn.</font></font></p>
                        <p>
                            Được sáng lập vào năm 1946 và có trụ sở tại Singapore, ngày nay Swee Lee là nhà bán lẻ, nhà phân phối nhạc cụ đa thương hiệu và phong cách sống hàng đầu châu Á. Tuy đã trải qua chặng đường dài nhưng chúng tôi vẫn giữ nguyên lòng nhiệt thành và cam kết hướng đến sự hoàn thiện hệt như những ngày đầu tiên.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="big-team-area">
        <div class="big-image">
            <img src="~/assets/img/new_3.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-active owl-carousel theme-bg owl-loaded owl-drag">


                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1860px, 0px, 0px); transition: all 0.25s ease 0s; width: 5580px;">
                                <div class="owl-item cloned" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Salim Rana</span>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Jason Derula</span>
                                    </div>
                                </div><div class="owl-item active" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Salim Rana</span>
                                    </div>
                                </div><div class="owl-item" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Jason Derula</span>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Salim Rana</span>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 930px;">
                                    <div class="testimonial-item text-center">
                                        <p>
                                            “Vue is one of those platforms that gives you space to work with people who know you, love
                                            you, and support you.”
                                        </p>
                                        <span>- Jason Derula</span>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area start -->
    <section class="team-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="area-title text-center mb-50">
                        <h2>Awesome Team</h2>
                        <p>Our one of the best team members</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team mb-30">
                        <div class="team__img">
                            <img src="img/team/team4.jpg" alt="">
                        </div>
                        <div class="team__content text-center white-bg">
                            <h4>Salim Rana</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team mb-30">
                        <div class="team__img">
                            <img src="img/team/team5.jpg" alt="">
                        </div>
                        <div class="team__content text-center white-bg">
                            <h4>James Tablon</h4>
                            <span>Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team mb-30">
                        <div class="team__img">
                            <img src="img/team/team6.jpg" alt="">
                        </div>
                        <div class="team__content text-center white-bg">
                            <h4>Mikado Rikoda</h4>
                            <span>marketing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area end -->


</main>